<h2 class="display-4">Welcome {{user.displayName}}</h2>
<h4>Your Stories</h4>
{{#if stories}}
<table class="table table-striped mt-5">
	<thead>
		<tr>
			<th scope="col">Title</th>
			<th scope="col">Date</th>
			<th scope="col">Status</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		{{#each stories}}
		<tr>
			<td><a href="/stories/show/{{id}}">{{title}}</a></td>
			<td>{{formatDate date 'MMMM Do YYYY'}}</td>
			<td><span class="status">{{status}}</span></td>
			<td>
				<a href="/stories/edit/{{id}}" class="btn btn-sm btn-primary">Edit</a>
				<form method="" action="" id="delete-form">
					<button type="submit" class="btn btn-sm btn-danger">Delete</button>
				</form>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>
{{else}}
<p class="lead text-center">You have not created any stories yet.</p>
<p class="text-center">
	<a href="/stories/add" class="btn btn-outline-success">Add a Story</a>
</p>
{{/if}}